<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/Exam2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Exam 2
#Prajwol Khatri
#CPSMA 4313

In this `Exam`, I will be working with the data from a fitbit provided on Kaggle. The link for the data can be found here,`https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv`. Also, in order to comlete this exam I have used resources from `google`, `github_repos` and several online genuine materials.

**https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv**


-> **https://github.com/nurfnick/Data_Viz/blob/main/01_Python.ipynb** 


->
**https://www.geeksforgeeks.org/how-to-drop-one-or-multiple-columns-in-pandas-dataframe/**


->
**https://github.com/nurfnick/Data_Viz/blob/main/18_One_Hot_Encoding.ipynb**


->
**https://github.com/nurfnick/Data_Viz/blob/main/15_String_Cleaning.ipynb**


->
**https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb**

-> 
**https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb**

## I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course. ##

This exam includes how to handle data and data cleaning, followed by way to deal with datetime format, removing `-` or extra characters which are often unnecessary in the data.

In [241]:
import numpy as np #a matrix like package for handling data
import pandas as pd #a R like package for handling data
from scipy import stats #a way to just get a piece of a large package
import matplotlib.pyplot as plt #a way to generate plots, histograms, bar charts, and other types of charts 
import seaborn as sns #it is based on matplotlib
import requests #HTTP library
import pandas as pd # used to manipulate data and analyze it
from bs4 import BeautifulSoup #Used for a web scraping purposes to pull the data out of HTML and XML files
import re #Used for regular expression in Python.

  **`https://github.com/khatriprajwol/Data-Visualization-/blob/main/EXAM-1.ipynb`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



All the libraries which I have used to complete exam are listed above. On the side of each library I have also mentioned a general idea of that particular library. I will not be using the `HTTP library`, `Beautiful Soup library` because I am dealing with `CSV` file. However, it would not be a problem to have it on hand.

In [242]:
df = pd.read_csv("https://raw.githubusercontent.com/nurfnick/Data_Viz/main/Activity_Dataset_V1.csv")
df.head()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,...,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,...,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,...,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,...,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,...,NaN,NaN,138.0,166.0,110,7,0,5,21,88

**`https://raw.githubusercontent.com/nurfnick/Data Viz/main/Activity Dataset V1.csv`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**





In the above code I have stored a data in a pandas data frame. The file I have used in this exam is `csv` file from `nurfnick` github repo. Here is the link : `https://raw.githubusercontent.com/nurfnick/Data Viz/main/Activity Dataset V1.csv`. 

As you can see here I would like to peak at my first few data that is why I have used `df.head()`. It just helps me to understand what kind of data I am dealing with.

In [243]:
df.tail()

,Unnamed: 0,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,...,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
995,995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,...,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,...,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,...,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,...,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,...,NaN,NaN,96.5,90.0,103,14,32,0,24,83

I think the first five data was not enough, but I am not interested in printing all data that because it takes memory space. Therefore, `df.tail()` command simply helps me to peak last five data in my data set. Which can be quickly used if we would like to look at our last five data.

In [244]:
df.dtypes

Unnamed: 0          int64
activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max(%)          int64
aerobic(%)          int64
anaerobic(%)        int64
intensive(%)        int64
light(%)            int64
dtype: object

As we see in the above result **df.dtypes** gave me data types where there are different data types some of them are `int64`, `object` and `float64`.

The first data type is `Unnamed 0` which is assigned as an int64. I think it is appropriate to assign the serial number or `Unnamed 0` in this case a integer. It does not make sense if we change it to `float(1.2)` for a serial number.

For the `activity_day` we can see it is an object type because it is in the date format which can not be treated as an int or float. Similarly, we have a `workout_type` which has at least one string that is why python interpreted it as an object type.

I am really not sure what `International System of Unit` is used but in this case `distance` is a float which sounds reasonable to me. It will have a decimal values for `example 9.5 Km or 0.4 miles`. 

For the `time`, there is int data type we see an int because it is converted in seconds which often makes calculation easier. 

Also,`calories` is a int data type which is kind of true because in my personal experience I have never seen a label of `150.6` or `200.5` calores in a snickers bar.

I am really not sure why `total_steps`, `avg_speed`, `avg_cadence`, `max_cadence`,`avg_heart_rate`, `max_heart_rate` has a float data type in this case. Is it because of NaN in the total_steps which is kind of odd. It should be object rather than float? Anyways, we can clean it which will not be a problem. 

Furthermore, `min_heart_rate` has a int data type. I do not think it is a right way to make it int data type because we already have avg_heart_rate and max_heart_rate as a float. 

Here, `vo2_max(%)`, `aerobic(%)`, `anaerobic(%)`, `intensive(%)`, `light(%)` all are treated as a int data type. However, I will not suggest to use percentage as a integer because, in real life we can not always get away with integer for a percentage. There will be a case where we have to deal with lot of decimal type.

In [245]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      1000 non-null   int64
 1   activity_day    1000 non-null   object
 2   workout_type    1000 non-null   object
 3   distance        1000 non-null   float64
 4   time            1000 non-null   int64
 5   calories        1000 non-null   int64
 6   total_steps     554 non-null    float64
 7   avg_speed       1000 non-null   float64
 8   avg_cadence     1000 non-null   float64
 9   max_cadence     1000 non-null   float64
 10  avg_pace        554 non-null    object
 11  max_pace        554 non-null    object
 12  min_pace        554 non-null    object
 13  avg_heart_rate  1000 non-null   float64
 14  max_heart_rate  1000 non-null   float64
 15  min_heart_rate  1000 non-null   int64
 16  vo2_max(%)      1000 non-null   int64
 17  aerobic(%)      1000 non-null   int64
 18  anaerobic(%)    1000 non-null   int64
 19  intensive(%)    1000 non-null   int64
 20  light(%)        1000 non-null   int64
dtypes: float64(7), int64(9), object(5)
memory usage: 164.2+ KB

Well, the above command is a different but do the same job which gives us information about the data types with **`Non-Null Count`** as a bonus.

This table needs some cleaning. So, we can see there are two repeated indexes which has a name `Unnamed: 0`.

In [246]:
df1 = pd.DataFrame(df)

for col in df1.columns:

    if 'Unnamed: 0' in col:

        del df1[col]

In [247]:
df1.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

**https://www.geeksforgeeks.org/how-to-drop-one-or-multiple-columns-in-pandas-dataframe/ . I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**  


Here, I have used iterative way to remove that one partiular column. No doubt there are different ways. One alternative way that we were shown in the class is given below.

In [248]:
df.drop(['Unnamed: 0'], axis = 1)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,NaN,28.66,173.30,234.73,NaN,NaN,NaN,133.5,175.0,92,22,20,15,21,61
996,2022-02-14,Freestyle,9.48,61,219,NaN,9.23,114.34,109.32,NaN,NaN,NaN,103.0,122.0,84,18,28,2,17,86
997,2022-02-14,Freestyle,3.30,40,169,NaN,7.37,133.97,122.96,NaN,NaN,NaN,114.5,122.0,107,18,28,2,23,98
998,2022-02-14,Indoor Cycling,4.40,47,52,NaN,10.75,147.65,116.51,NaN,NaN,NaN,96.0,90.0,102,45,32,0,13,57
999,2022-02-14,Indoor Cycling,1.57,116,106,NaN,25.37,143.41,182.80,NaN,NaN,NaN,96.5,90.0,103,14,32,0,24,83

**`https://github.com/nurfnick/Data_Viz/blob/main/18_One_Hot_Encoding.ipynb`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



We can also use `drop` command to delete that particular column from the data set. It do exactly the same as the previous one.

In [249]:
df = df.drop(['Unnamed: 0'], axis = 1)

I have dropped the `Unnamed: 0` column. In order to apply the command we have to pass it through `df` so that it can update our `df` table.

In [250]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max(%),aerobic(%),anaerobic(%),intensive(%),light(%)
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

Now we can clearly see that our `df` has now updated with our new indexes.

In [251]:
df.columns

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max(%)', 'aerobic(%)', 'anaerobic(%)',
       'intensive(%)', 'light(%)'],
      dtype='object')

We can always go back and look at the columns name. However, `df.columns` just saves us lot of time and makes our job easier. Here, we can see there are `_`, `()`, `%`. Let's clean `(%)` part from the column and any spaces between them.

In [252]:
cols = df.columns.map(lambda s: re.sub(r"[(.%)]","",s))
cols

Index(['activity_day', 'workout_type', 'distance', 'time', 'calories',
       'total_steps', 'avg_speed', 'avg_cadence', 'max_cadence', 'avg_pace',
       'max_pace', 'min_pace', 'avg_heart_rate', 'max_heart_rate',
       'min_heart_rate', 'vo2_max', 'aerobic', 'anaerobic', 'intensive',
       'light'],
      dtype='object')

**`https://github.com/nurfnick/Data_Viz/blob/main/15_String_Cleaning.ipynb`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



I have used `RegEx` package to remove **`number`**, **`%`** and **`_`**. It took me a while to do this but surprisingly I figured it out. At first I tried it without **`()`** which gave me a pain in my head. However, after putting the brackets it seems to be working.

In [253]:
df.columns = df.columns.map(lambda s: re.sub(r"[(.%)]","",s))

Now, I will apply this to my old table. In the below table now we can see the cleaned columns.

In [254]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,NaN,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,NaN,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,NaN,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,NaN,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [255]:
df.dtypes

activity_day       object
workout_type       object
distance          float64
time                int64
calories            int64
total_steps       float64
avg_speed         float64
avg_cadence       float64
max_cadence       float64
avg_pace           object
max_pace           object
min_pace           object
avg_heart_rate    float64
max_heart_rate    float64
min_heart_rate      int64
vo2_max             int64
aerobic             int64
anaerobic           int64
intensive           int64
light               int64
dtype: object

Here, the `activity_day` is an object. And we would like to convert it into **`datetime`** format.

In [256]:
pd.to_datetime(df.activity_day, format='%Y-%m-%d')

0     2022-01-01
1     2022-01-01
2     2022-01-01
3     2022-01-01
4     2022-01-01
         ...
995   2022-02-14
996   2022-02-14
997   2022-02-14
998   2022-02-14
999   2022-02-14
Name: activity_day, Length: 1000, dtype: datetime64[ns]

**`https://github.com/nurfnick/Data_Viz/blob/main/16_Dates.ipynb`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



In the above table it can be clearly seen that the datatype is an object and it has not been assigned as `datetime` yet. Therefore, I will give it the correct format. It is crucial to put right form of the date. In this case it is **`Year-month-day`**.

In [257]:
df.activity_day = pd.to_datetime(df.activity_day, format='%Y-%m-%d')

I am applying the changes into my `df`. We should not forget to do this part otherwise, it won't change the datatype for us.

In [258]:
df.dtypes

activity_day      datetime64[ns]
workout_type              object
distance                 float64
time                       int64
calories                   int64
total_steps              float64
avg_speed                float64
avg_cadence              float64
max_cadence              float64
avg_pace                  object
max_pace                  object
min_pace                  object
avg_heart_rate           float64
max_heart_rate           float64
min_heart_rate             int64
vo2_max                    int64
aerobic                    int64
anaerobic                  int64
intensive                  int64
light                      int64
dtype: object

Compared to above table we can see that `activity_day` now has been `changed` to `datetime` format datatype.

In my table there ara NaN for `total_steps`. Therefore, I am going to give it an appropriate numbe of steps. In order to do that I need `fillna`.

In [259]:
df.total_steps.fillna(0)

0         0.0
1         0.0
2         0.0
3      1571.0
4         0.0
        ...
995       0.0
996       0.0
997       0.0
998       0.0
999       0.0
Name: total_steps, Length: 1000, dtype: float64

**`https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb.` I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



All the `NaN` is now filled with `0's`. Before it's data type was `float` however, `NaN` string was there. So, it was not provided its `right datatype`.

In [260]:
df.total_steps = df.total_steps.fillna(0)

I am applying it back to my table.

In [261]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,0.0,18.88,168.54,138.30,NaN,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,0.0,29.65,125.92,292.81,NaN,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,0.0,17.85,81.93,323.69,NaN,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,0.0,25.83,64.55,342.89,NaN,NaN,NaN,138.0,166.0,110,7,0,5,21,88

Now, my `table` looks more `cleaned` than it was `before`.

In [262]:
df.avg_pace = df.avg_pace.fillna(0)

In [263]:
df.head()

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,max_pace,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light
0,2022-01-01,Freestyle,9.30,77,123,0.0,18.88,168.54,138.30,0,NaN,NaN,112.5,122.0,103,19,28,2,7,50
1,2022-01-01,Freestyle,3.44,96,55,0.0,29.65,125.92,292.81,0,NaN,NaN,111.0,122.0,100,42,28,2,29,88
2,2022-01-01,Indoor Cycling,6.34,85,33,0.0,17.85,81.93,323.69,0,NaN,NaN,95.0,90.0,100,1,32,0,22,43
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,07:58,28:58,07:58,83.0,85.0,81,3,22,0,24,65
4,2022-01-01,Open Water,8.99,36,131,0.0,25.83,64.55,342.89,0,NaN,NaN,138.0,166.0,110,7,0,5,21,88

In [264]:
df.avg_pace = df['avg_pace'].apply(pd.to_datetime)

In [265]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   activity_day    1000 non-null   datetime64[ns]
 1   workout_type    1000 non-null   object
 2   distance        1000 non-null   float64
 3   time            1000 non-null   int64
 4   calories        1000 non-null   int64
 5   total_steps     1000 non-null   float64
 6   avg_speed       1000 non-null   float64
 7   avg_cadence     1000 non-null   float64
 8   max_cadence     1000 non-null   float64
 9   avg_pace        1000 non-null   datetime64[ns]
 10  max_pace        554 non-null    object
 11  min_pace        554 non-null    object
 12  avg_heart_rate  1000 non-null   float64
 13  max_heart_rate  1000 non-null   float64
 14  min_heart_rate  1000 non-null   int64
 15  vo2_max         1000 non-null   int64
 16  aerobic         1000 non-null   int64
 17  anaerobic       1000 non-null   int64
 18  intensive       1000 non-null   int64
 19  light           1000 non-null   int64
dtypes: datetime64[ns](2), float64(7), int64(8), object(3)
memory usage: 156.4+ KB

We can see now my data avg_pace is changed to datetime format.

In [266]:
df['avg_pace'] = pd.DatetimeIndex(df['avg_pace'])
df['avg_pace'] = df['avg_pace'].apply(lambda avg_pace: avg_pace.hour + (avg_pace.minute / 60))
df.T

,0,1,2,3,4,5,6,7,8,9,...,990,991,992,993,994,995,996,997,998,999
activity_day,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,2022-01-01 00:00:00,...,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00,2022-02-14 00:00:00
workout_type,Freestyle,Freestyle,Indoor Cycling,Walking,Open Water,Outdoor Cycling,Indoor Cycling,Outdoor Running,Trail Run,Pool Swimming,...,Treadmill,Freestyle,Outdoor Cycling,Indoor Cycling,Walking,Pool Swimming,Freestyle,Freestyle,Indoor Cycling,Indoor Cycling
distance,9.3,3.44,6.34,7.91,8.99,5.47,6.28,2.94,2.87,3.91,...,1.81,2.41,2.67,9.17,2.17,6.92,9.48,3.3,4.4,1.57
time,77,96,85,42,36,117,66,26,26,23,...,58,20,37,24,106,101,61,40,47,116
calories,123,55,33,82,131,144,378,430,465,99,...,76,527,55,358,172,313,219,169,52,106
total_steps,0.0,0.0,0.0,1571.0,0.0,0.0,0.0,7618.0,2790.0,0.0,...,4550.0,0.0,0.0,0.0,1571.0,0.0,0.0,0.0,0.0,0.0
avg_speed,18.88,29.65,17.85,22.1,25.83,2.2,10.65,10.59,32.92,33.15,...,34.8,29.9,14.44,10.92,10.42,28.66,9.23,7.37,10.75,25.37
avg_cadence,168.54,125.92,81.93,29.63,64.55,43.47,23.83,131.93,21.42,169.3,...,66.16,138.62,159.59,133.94,134.17,173.3,114.34,133.97,147.65,143.41
max_cadence,138.3,292.81,323.69,180.16,342.89,291.67,253.84,334.72,341.17,206.97,...,99.72,209.5,250.11,112.51,275.62,234.73,109.32,122.96,116.51,182.8
avg_pace,0.0,0.0,0.0,7.966667,0.0,0.0,0.0,6.733333,6.8,0.0,...,7.983333,0.0,0.0,0.0,7.966667,0.0,0.0,0.0,0.0,0.0
max_pace,NaN,NaN,NaN,28:58,NaN,NaN,NaN,27:44,25:50,NaN,...,27:58,NaN,NaN,NaN,28:58,NaN,NaN,NaN,NaN,NaN
min_pace,NaN,NaN,NaN,07:58,NaN,NaN,NaN,06:15,06:20,NaN,...,07:58,NaN,NaN,NaN,07:58,NaN,NaN,NaN,NaN,NaN
avg_heart_rate,112.5,111.0,95.0,83.0,138.0,142.0,85.0,145.0,142.0,132.5,...,94.0,110.5,132.0,92.0,97.5,133.5,103.0,114.5,96.0,96.5
max_heart_rate,122.0,122.0,90.0,85.0,166.0,177.0,90.0,190.0,188.0,175.0,...,105.0,122.0,177.0,90.0,85.0,175.0,122.0,122.0,90.0,90.0
min_heart_rate,103,100,100,81,110,107,80,100,96,90,...,83,99,87,94,110,92,84,107,102,103
vo2_max,19,42,1,3,7,44,34,23,2,22,...,8,4,15,40,30,22,18,18,45,14
aerobic,28,28,32,22,0,45,32,0,0,20,...,26,28,45,32,22,20,28,28,32,32
anaerobic,2,2,0,0,5,15,0,71,80,15,...,7,2,15,0,0,15,2,2,0,0
intensive,7,29,22,24,21,57,44,18,46,28,...,7,44,59,40,52,21,17,23,13,24
light,50,88,43,65,88,39,23,3,13,20,...,10,67,100,74,57,61,86,98,57,83

**`https://pandas.pydata.org/pandas-docs/version/0.23.4/api.html#id28`. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**


Here, I have used datetimeindex to change object data type to the float. Since we know that there  is 60 min in 1 hrs. Our time is given in hour and minute. I used simple mathematics to change my hour to minute by diving it by 60.

In [267]:
df.groupby('workout_type').calories.agg(['mean','median','count','std'])

                       mean  median  count         std
workout_type
Cricket          307.548387   330.0     93  149.950609
Freestyle        278.552083   294.0     96  163.703768
Indoor Cycling   280.450000   306.0     80  156.633322
Open Water       296.747253   328.0     91  160.068499
Outdoor Cycling  299.129412   301.0     85  158.731263
Outdoor Running  301.469136   349.0     81  165.725080
Pool Swimming    283.414894   300.0     94  157.576703
Trail Run        267.966667   264.0     90  155.748533
Treadmill        278.142857   269.5     98  146.963352
Trekking         283.127660   280.5     94  151.034870
Walking          276.040816   270.5     98  157.287570

**https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb. I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**



I have done `groupby` function followed by `agg` which can be used to calculate `mean`, `median`, `count`, and `standard deviation` in a table form just like the above table.

In [268]:
aer = df.aerobic > 30
pd.concat([df,pd.DataFrame({'Thirty':aer})], axis = 1)

,activity_day,workout_type,distance,time,calories,total_steps,avg_speed,avg_cadence,max_cadence,avg_pace,...,min_pace,avg_heart_rate,max_heart_rate,min_heart_rate,vo2_max,aerobic,anaerobic,intensive,light,Thirty
0,2022-01-01,Freestyle,9.30,77,123,0.0,18.88,168.54,138.30,0.000000,...,NaN,112.5,122.0,103,19,28,2,7,50,False
1,2022-01-01,Freestyle,3.44,96,55,0.0,29.65,125.92,292.81,0.000000,...,NaN,111.0,122.0,100,42,28,2,29,88,False
2,2022-01-01,Indoor Cycling,6.34,85,33,0.0,17.85,81.93,323.69,0.000000,...,NaN,95.0,90.0,100,1,32,0,22,43,True
3,2022-01-01,Walking,7.91,42,82,1571.0,22.10,29.63,180.16,7.966667,...,07:58,83.0,85.0,81,3,22,0,24,65,False
4,2022-01-01,Open Water,8.99,36,131,0.0,25.83,64.55,342.89,0.000000,...,NaN,138.0,166.0,110,7,0,5,21,88,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2022-02-14,Pool Swimming,6.92,101,313,0.0,28.66,173.30,234.73,0.000000,...,NaN,133.5,175.0,92,22,20,15,21,61,False
996,2022-02-14,Freestyle,9.48,61,219,0.0,9.23,114.34,109.32,0.000000,...,NaN,103.0,122.0,84,18,28,2,17,86,False
997,2022-02-14,Freestyle,3.30,40,169,0.0,7.37,133.97,122.96,0.000000,...,NaN,114.5,122.0,107,18,28,2,23,98,False
998,2022-02-14,Indoor Cycling,4.40,47,52,0.0,10.75,147.65,116.51,0.000000,...,NaN,96.0,90.0,102,45,32,0,13,57,True
999,2022-02-14,Indoor Cycling,1.57,116,106,0.0,25.37,143.41,182.80,0.000000,...,NaN,96.5,90.0,103,14,32,0,24,83,True

**`https://github.com/nurfnick/Data_Viz/blob/main/20_Cleaning_Conclusion.ipynb.` I attest that the resources above were the only ones utilized in completing the exam and the work included is my own and no one else from the course.**


I am trying to find here if an aerobic activity is greater than thirty percent. And we can see the results in above table.

In [269]:
df.activity_day.unique()

array(['2022-01-01T00:00:00.000000000', '2022-01-02T00:00:00.000000000',
       '2022-01-03T00:00:00.000000000', '2022-01-04T00:00:00.000000000',
       '2022-01-05T00:00:00.000000000', '2022-01-06T00:00:00.000000000',
       '2022-01-07T00:00:00.000000000', '2022-01-08T00:00:00.000000000',
       '2022-01-09T00:00:00.000000000', '2022-01-10T00:00:00.000000000',
       '2022-01-11T00:00:00.000000000', '2022-01-12T00:00:00.000000000',
       '2022-01-13T00:00:00.000000000', '2022-01-14T00:00:00.000000000',
       '2022-01-15T00:00:00.000000000', '2022-01-16T00:00:00.000000000',
       '2022-01-17T00:00:00.000000000', '2022-01-18T00:00:00.000000000',
       '2022-01-19T00:00:00.000000000', '2022-01-20T00:00:00.000000000',
       '2022-01-21T00:00:00.000000000', '2022-01-22T00:00:00.000000000',
       '2022-01-23T00:00:00.000000000', '2022-01-24T00:00:00.000000000',
       '2022-01-25T00:00:00.000000000', '2022-01-26T00:00:00.000000000',
       '2022-01-27T00:00:00.000000000', '2022-01-28T00:00:00.000000000',
       '2022-01-29T00:00:00.000000000', '2022-01-30T00:00:00.000000000',
       '2022-01-31T00:00:00.000000000', '2022-02-01T00:00:00.000000000',
       '2022-02-02T00:00:00.000000000', '2022-02-03T00:00:00.000000000',
       '2022-02-04T00:00:00.000000000', '2022-02-05T00:00:00.000000000',
       '2022-02-06T00:00:00.000000000', '2022-02-07T00:00:00.000000000',
       '2022-02-08T00:00:00.000000000', '2022-02-09T00:00:00.000000000',
       '2022-02-10T00:00:00.000000000', '2022-02-11T00:00:00.000000000',
       '2022-02-12T00:00:00.000000000', '2022-02-13T00:00:00.000000000',
       '2022-02-14T00:00:00.000000000'], dtype='datetime64[ns]')

In [270]:
df.groupby('workout_type').agg('max_cadence')

I could not figure it out.

In [271]:
#df[(df.activity_day == 'day.')&(df.max_cadence == 'max')]

It took me about almost a whole day to work on this exam. However, the questions were not that hard and many of them were straight forward.

I felt that question `1f`, `1g`, `1h`, `1i` was harder than other problems. I could not figure it out for a long time. I have tried to convert object type to `datetime` format but unfortunately it was not working. And the easiest part was loading data, removing spaces, percentage part.

I believe we should have spend more time doing date and time format. Because in my personal experience time series data is hard to visualize. One of the interesting part we have done in the class was cleaning mispelled columns extra spaces. Doing different ways in data cleaning I have realized that there are more things that I need to learn.