<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/QUIZ-7%20.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Quiz 7.
 Here, I have found another data in the data base which is London_bicycle. So I will do general comparision. It is a simple way of comparision. I really could not come up with a fancy code or a comparision techniques. I am actually comparing london with austin. With out even doing anything one can easily tell than obviously the country overcomes the city but would like to see how big?

In [12]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

Here is the austin data.

In [13]:
%%bigquery --project data-base-1-338717
SELECT *
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
LIMIT 10

      trip_id  ... duration_minutes
0  9900289692  ...               39
1  9900285987  ...               31
2  9900285989  ...               31
3  9900285991  ...               30
4  9900286140  ...               19
5  9900286143  ...               17
6  9900286171  ...                6
7  9900286214  ...                0
8  9900286540  ...               12
9    13575843  ...               47

[10 rows x 9 columns]

In [14]:
%%bigquery --project data-base-1-338717

SELECT bikeid, AVG(duration_minutes) as average, STDDEV(duration_minutes) as standarddeviation 
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`
GROUP BY bikeid

      bikeid      average  standarddeviation
0        248    39.438909         413.194352
1        446    28.104430          71.111511
2        203    29.808133          81.703931
3        101    28.657947          73.429760
4        242    30.268603          68.460846
..       ...          ...                ...
986    19539    83.237288         494.297493
987      987    45.176471          59.807227
988  Block03     2.000000                NaN
989  Block05  3385.000000                NaN
990  Block02   671.800000         183.173961

[991 rows x 3 columns]

In [15]:
%%bigquery --project data-base-1-338717

SELECT MAX(duration_minutes) as max_time
FROM `bigquery-public-data.austin_bikeshare.bikeshare_trips`

   max_time
0     34238

This a london bicycle data.

In [16]:
%%bigquery --project data-base-1-338717
SELECT *
FROM `bigquery-public-data.london_bicycles.cycle_hire`
LIMIT 10

   rental_id  duration  ...  start_station_logical_terminal end_station_priority_id
0   47469109      3180  ...                            None                    None
1   46915469      7380  ...                            None                    None
2   65899423      2040  ...                            None                    None
3   64280726      2280  ...                            None                    None
4   59235489      2340  ...                            None                    None
5   55248935      2160  ...                            None                    None
6   43015438      5400  ...                            None                    None
7   61090882      1980  ...                            None                    None
8   47150505      2400  ...                            None                    None
9   54154089      3000  ...                            None                    None

[10 rows x 12 columns]

In [17]:
%%bigquery --project data-base-1-338717 

SELECT bike_id, AVG(duration) as average, STDDEV(duration) as standarddeviation 
FROM `bigquery-public-data.london_bicycles.cycle_hire`
GROUP BY bike_id
LIMIT 10

   bike_id      average  standarddeviation
0     7054  1315.047619        6571.627227
1     3792  1310.872056        3533.146980
2     3038  1261.600547        3446.321478
3    10868  1256.040127        3278.805226
4     7183  1260.270406        3796.844556
5     7619  1331.040000        5988.549675
6     2779  1089.868421        2008.267768
7     1710  1538.995339       10728.231085
8     6748  1334.618705        4664.079341
9    12290  1257.295981        3518.945359

In [18]:
%%bigquery --project data-base-1-338717

SELECT MAX(duration) as max_time2
FROM `bigquery-public-data.london_bicycles.cycle_hire`

   max_time2
0    2674020

Wow, I was not expecting that difference. I wanted to make the graph these value and generalize from there. However, I could not figure it out.