<a href="https://colab.research.google.com/github/khatriprajwol/Data-Visualization-/blob/main/SQL%20REVIEW.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [277]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [278]:
%%bigquery --project data-base-1-338717
SELECT  COUNT(*)  as Total_rows_of_country_name_areas
FROM `bigquery-public-data.census_bureau_international.country_names_area`

   Total_rows_of_country_name_areas
0                               228

In [279]:
%%bigquery --project data-base-1-338717
SELECT  COUNT(*)  as Total_rows_of_midyear_population
FROM `bigquery-public-data.census_bureau_international.midyear_population`

   Total_rows_of_midyear_population
0                             23028

In [280]:
%%bigquery --project data-base-1-338717
SELECT  AVG(country_area)  as max_country_area
FROM `bigquery-public-data.census_bureau_international.country_names_area`

   max_country_area
0     577696.683772

In [281]:
%%bigquery --project data-base-1-338717
SELECT  max(country_area)  as max_country_area
FROM `bigquery-public-data.census_bureau_international.country_names_area`

   max_country_area
0        16377742.0

In [282]:
%%bigquery --project data-base-1-338717
SELECT C.country_code, C.country_name , I.country_area 
FROM `bigquery-public-data.census_bureau_international.country_names_area` as I
JOIN`bigquery-public-data.census_bureau_international.midyear_population` as C 
ON I.country_code=C.country_code
Where C.country_code like 'S%'
GROUP BY C.country_code, C.country_name, I.country_area
ORDER BY country_area DESC

   country_code                                   country_name  country_area
0            SA                                   Saudi Arabia     2149690.0
1            SU                                          Sudan     1861484.0
2            SF                                   South Africa     1214470.0
3            SO                                        Somalia      627337.0
4            SP                                          Spain      498980.0
5            SW                                         Sweden      410335.0
6            SG                                        Senegal      192530.0
7            SY                                          Syria      183630.0
8            SL                                   Sierra Leone       71620.0
9            SZ                                    Switzerland       39997.0
10           SI                                       Slovenia       20151.0
11           SN                                      Singapore         709.2
12           ST                                    Saint Lucia         606.0
13           SE                                     Seychelles         455.0
14           SH  Saint Helena, Ascension, and Tristan da Cunha         308.0
15           SC                          Saint Kitts and Nevis         261.0
16           SB                      Saint Pierre and Miquelon         242.0
17           SM                                     San Marino          61.0

In [283]:
%%bigquery --project data-base-1-338717 
SELECT C.country_code, C.country_name , I.country_area 
FROM `bigquery-public-data.census_bureau_international.country_names_area` as I
JOIN`bigquery-public-data.census_bureau_international.midyear_population` as C 
ON I.country_code=C.country_code
Where C.country_name like 'R%' 
GROUP BY C.country_code, C.country_name, I.country_area

  country_code country_name  country_area
0           RO      Romania      229891.0
1           RS       Russia    16377742.0
2           RW       Rwanda       24668.0

**'R%'** helps me to limit my search and show only that has **R** as a first letter and whatever it has after after **R**. In the next code we can see what kind of difference it can make with-out using **%**.

In [284]:
%%bigquery --project data-base-1-338717 
SELECT C.country_code, C.country_name , I.country_area 
FROM `bigquery-public-data.census_bureau_international.country_names_area` as I
JOIN`bigquery-public-data.census_bureau_international.midyear_population` as C 
ON I.country_code=C.country_code
Where C.country_name like 'R' 
GROUP BY C.country_code, C.country_name, I.country_area

Empty DataFrame
Columns: [country_code, country_name, country_area]
Index: []

It did not give me anything as we can see in the above output.

In [285]:
%%bigquery --project data-base-1-338717 
SELECT C.country_code, C.country_name , I.country_area 
FROM `bigquery-public-data.census_bureau_international.country_names_area` as I
JOIN`bigquery-public-data.census_bureau_international.midyear_population` as C 
ON I.country_code=C.country_code
Where C.country_name like 'Bar%' 
GROUP BY C.country_code, C.country_name, I.country_area

  country_code country_name  country_area
0           BB     Barbados         430.0

In [286]:
%%bigquery --project data-base-1-338717 df1
SELECT C.country_code, C.country_name , I.country_area 
FROM `bigquery-public-data.census_bureau_international.country_names_area` as I
JOIN`bigquery-public-data.census_bureau_international.midyear_population` as C 
ON I.country_code=C.country_code
Where C.country_code like 'S%'
GROUP BY C.country_code, C.country_name, I.country_area
ORDER BY country_area ASC

In [287]:
df1

   country_code                                   country_name  country_area
0            SM                                     San Marino          61.0
1            SB                      Saint Pierre and Miquelon         242.0
2            SC                          Saint Kitts and Nevis         261.0
3            SH  Saint Helena, Ascension, and Tristan da Cunha         308.0
4            SE                                     Seychelles         455.0
5            ST                                    Saint Lucia         606.0
6            SN                                      Singapore         709.2
7            SI                                       Slovenia       20151.0
8            SZ                                    Switzerland       39997.0
9            SL                                   Sierra Leone       71620.0
10           SY                                          Syria      183630.0
11           SG                                        Senegal      192530.0
12           SW                                         Sweden      410335.0
13           SP                                          Spain      498980.0
14           SO                                        Somalia      627337.0
15           SF                                   South Africa     1214470.0
16           SU                                          Sudan     1861484.0
17           SA                                   Saudi Arabia     2149690.0